<h2>Записаться</h2>
<p>На этой странице Вы сможете записаться к нам в Barber Shop</p>


<form action="/visit" method="/POST">
  
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите ваше имя">
  </div>

<div class="form-group">
    <label>Ваше телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Введите ваш телефон">
  </div>

 <div class="form-group">
    <label>Когда Вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>
<div class="form-group">
    <label>Ваш парикмахер</label>
   <select class="form-control">
  <option>Jessie Pinkman</option>
  <option>Walter White</option>
  <option>Gus Fring</option>
  <option>John Middle</option>
  <option>Sarah Connor</option>
</select>
  </div>


  <button type="submit" class="btn btn-primary">Записаться</button>

</form>